@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


  .producto {
      border: 1px solid #ccc;
      padding: 20px;
      transition: background-color 0.3s ease;
    }
    
  .producto:hover {
      background-color: #f8f9fa;
    }
  
.div-text-footer{
    width: 100px;
    text-align: center;

}
.imgpcipal{
  width:100vw
} 
.imggridlimp{
  height:40vh
} 
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  justify-content: center;
  font-weight: bold; 
}

.flex-container > div {
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.foto-carrusel {
  width:500px;
  display:block;
}  

@media screen and (max-width: 480px) {
  .logo{
    height:100vw
  } 
.grid-item {
  font-size: 5vh;
}
.computadoras{
 display:none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
}

  }


  
